Contrato/
Observações aulas/
Sowfters curso Generation/
Arquivos complementares/
Atividades Soft Skills/
Listas-Exemplos das atividades de programação/
Atividades teóricas/
Live empregabilidade/
Meus pontos fortes e minhas virtudes.pdf