/* Estilos da página index.html */

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.container {
    display: flex; /*  */
    flex-flow: row; /*  */
    justify-content: center; /*  */
    align-items: center; /*  */
}

#menu li {
    display: inline;
    padding: 20px;
    font-size: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    color: gray;
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wr {
    width: 300px;
    height: 300px;
}

.mb-50 {
    margin-bottom: 50px;
}

/* Estilos da página contato.html */

.ml-50 {
    margin-left: 50px;
}

.social {
    padding: 10px;
}